*{
  box-sizing: border-box;
  padding: 0;

}

.App {
  margin-top: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
}

body {
  height: 100vh;
  width: 100vw;
  background-image: url("https://i.gifer.com/bFF.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;

}

.card-wheather {
  margin: 0 30px;
  color: #772efd;
  width: 400px;
  height: 400px;
  border-radius: 50px;
  background-color:hsla(0,0%,100%,.7);
}

.counter-card-wheather {
  margin: 20px;
  display: flex;
  justify-content: space-evenly;
}

.temperature{
  margin: 5px;

}
.weather-data  p{
  margin: 20px 0;
}

button{
  padding: 10px;
  background-color: #772efd;
  color: white;
}

.text-black {
  color: black;
}


@media only screen and ( min-width: 600px) {
  .card-wheather {
    color: #772efd;
    width: 400px;
    height: 400px;
    border-radius: 50px;
    background-color:hsla(0,0%,100%,.7);
  }


}